@font-face {
  font-family: "Outfit-Black";
  src: url("/fonts/Outfit/static/Outfit-Black.ttf");
}
@font-face {
  font-family: "Outfit-Bold";
  src: url("/fonts/Outfit/static/Outfit-Bold.ttf");
}
@font-face {
  font-family: "Outfit-ExtraBold";
  src: url("/fonts/Outfit/static/Outfit-ExtraBold.ttf");
}
@font-face {
  font-family: "Outfit-ExtraLight";
  src: url("/fonts/Outfit/static/Outfit-ExtraLight.ttf");
}
@font-face {
  font-family: "Outfit-Light";
  src: url("/fonts/Outfit/static/Outfit-Light.ttf");
}
@font-face {
  font-family: "Outfit-Medium";
  src: url("/fonts/Outfit/static/Outfit-Medium.ttf");
}
@font-face {
  font-family: "Outfit-Regular";
  src: url("/fonts/Outfit/static/Outfit-Regular.ttf");
}
@font-face {
  font-family: "Outfit-SemiBold";
  src: url("/fonts/Outfit/static/Outfit-SemiBold.ttf");
}
@font-face {
  font-family: "Outfit-Thin";
  src: url("/fonts/Outfit/static/Outfit-Thin.ttf");
}
