.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 64px;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav__add-book-btn {
  padding: 8px 20px;
  font-size: 16px;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  font-family: "Outfit-Medium";
  cursor: pointer;
}
